*{
    padding: 0;
    margin: 0;
}
body {
    max-height: 100%;
    overflow: hidden;
}
#container {
    display: flex;

}
#left {
    position: relative;
    background-image: url('./images/bg-pattern-desktop.svg');
    background-size: 50vw;
    background-repeat: no-repeat;
}
#logo {
    position: relative;
    bottom:200px;
}
#head {
    position: relative;
    font-size: 100px;
    width: 20vw;
    bottom: 100px;
}
#left-text {
    width:30vw;
    height: 50vh;
    margin: 25vh 10vw; 
}
#hello {
    position: relative;
    bottom: 50px;
    font-size: 20px;
    width: 27vw;
    color: hsl(0, 36%, 70%);
}
#email {
    border: 3px solid lightgray;
    border-radius: 20px;
    width: 30vw;
    height: 50px;
}
#email-button {
    position: relative;
    bottom:55px;
    left: 25.3vw;
    border: 0;
    outline: 0;
    width: 5vw;
    height: 55px;
    border-radius: 20px;
    background-color: hsl(0, 93%, 68%);
}
#right {
    display: flex;
    position: relative;
    background-image: url('./images/hero-desktop.jpg');
    background-size: 50vw 100vh;
    background-repeat: no-repeat;
    width:50vw;
}

#alert-email {
    position: relative;
    bottom: 40px;
    text-align: right;
    color: red;
}

#error {
    display: none;
    position: relative;
    left: 22vw;
    bottom: 93px;
}

.attribution {
    display: none;
}

@media (max-width: 700px){
    * {
        margin: 0;
        padding: 0;
    }
    body {
        max-height: 100%;
        max-width: 100%;
        overflow-y: visible;
        overflow-x: hidden;
    }
    #container {
        display: block;        
    }
    #logo {
        position: relative;
        bottom:0px;
    }
    #left {
        position: relative;
        bottom: 200px
    }
    #head {
        width: 80vw;
        text-align: center;
        bottom: -50px;
    }
    
    #mobile-image {
        margin: 0;
        padding: 0;
        display: block;
        width: 100vw;
    }
    #left-text{
        position: relative;
        margin: 0;
        top: 200px;
    }

    #logo {
        margin: 30px;
    }
    #left {
        background-image: none;
    }
    #hello {
        display: block;
        width: 90vw;
        margin: 10px;
        padding-top: 100px;
    }
    #email {
        border: 3px solid lightgray;
        border-radius: 20px;
        width: 80vw;
        height: 50px;
        margin-left: 20px;
    }
    #email-button {
        position: relative;
        bottom:55px;
        left: 70vw;
        border: 0;
        outline: 0;
        width: 15vw;
        height: 55px;
        border-radius: 20px;
        background-color: hsl(0, 93%, 68%);
    }
    #error {
        display: none;
        position: relative;
        left: 60vw;
        bottom: 93px;
    }
    #alert-email {
        left:50vw;
        bottom: 70px;
    }
}
